.CharacterList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  text-align: center;

}

.lightColor {

  color: black;
  background-color: white;
}

.darkColor {

  color: white;
  background-color: black;
} 